{% extends 'base.html'%}
{% import 'macros.html' as macro%}
    {% block content %}
        <h3> The latest News...</h3>
            <ul>
               {{ macro.displayNewsList(latest)}}
            </ul>

        <h3> The political era...</h3>
            <ul>
               {{ macro.displayNewsList(political)}}
            </ul>

        <h3> The sport nation...</h3>
            <ul>
               {{ macro.displayNewsList(sport)}}
            </ul>

        <h3> The social life...</h3>
            <ul>
              {{ macro.displayNewsList(social)}}
            </ul>

    {% endblock %}


