{% macro displayNewsList(news_list) %}
    <div class="row">
    {% for news in news_list %}
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="{{news.description}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ news.name}}</h5>
                    <p class="card-text">{{news.description}}</p>
                    <a class="btn btn-primary" href="/article/{{news.id}}">
                </div>
            </div>
        </div>
    {% endfor %}
{% endmacro %}









